Debug
/.vs/CoastGuard/FileContentIndex
/.vs/CoastGuard/v17/.suo
/CoastGuardWeb/CoastGuardWeb.csproj.user
/DB/CoastGuard.mdf
/DB/CoastGuard.LDF
/CoastGuardWeb/bin/BackEnd.dll
/CoastGuardWeb/bin/BackEnd.pdb
/CoastGuardWeb/bin/CoastGuardWeb.dll
/CoastGuardWeb/bin/CoastGuardWeb.pdb
/CoastGuardWeb/bin/DBInterface.dll
/CoastGuardWeb/bin/DBInterface.pdb
/CoastGuardWeb/bin/Utils.dll
/CoastGuardWeb/bin/Utils.pdb
